* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body {
    background-color: #009900;
    position: relative;
}

.intro {
    position: relative;
    font-family: 'VT323';
    color: white;
    font-size: 60px;
    height: 80px;
    width: 100%;
}

.expression {
    height: 40px;
    width: 200px;
}

.button {
    height: 40px;
    width: 100px;
}

p {
    position: relative;
    font-family: 'VT323';
    color: white;
    font-size: 20px;
    height: 25px;
}